/*Card Titles*/

.custom-card-title {
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: large;
    color: white;
}
.custom-card-title-date {
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
    color: white;
}

/*Card Bodies*/

.custom-card-body {
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-size: x-large;
    color: black;
}

/*Card Button*/

.custom-card-button {
    float: right;
    margin-bottom: 1.25rem;
}

/*Small Screens*/

@media screen and (max-width: 600px) {
    .custom-card-button {
        width: 100%;
    }

    .custom-card-body {
        position: absolute;
        padding: 0 !important;
        margin: 0 !important;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: large;
        color: black;
    }

    .custom-position{
        position: relative;
    }
}
